<p id="notice"><%= notice %></p>

<p>
  <strong>Message caption:</strong>
  <%= @message.message_caption %>
</p>

<p>
  <strong>Event:</strong>
  <%= @message.event %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
