<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @concert.body %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @concert.artist %>
</p>

<p>
  <strong>User:</strong>
  <%= @concert.user %>
</p>

<%= link_to 'Edit', edit_concert_path(@concert) %> |
<%= link_to 'Back', concerts_path %>
